*~
.DS_Store
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcuserstate
dsa_priv.pem
xcuserdata/
project.xcworkspace/
VersionX-revision.h
build/
*.[oa]
.hg
.svn
CVS
*~.nib
*.swp
